<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vuew.js App</title>
    <!-- <link href="main.css" rel="stylesheet"> -->
</head>
<body>
    <div id = "app">
        <p>{{ message }}</p>
        <ol>
            <li v-for="item in list">{{ item }}</li>
        </ol>

        <p>{{ count }}回クリックされた</p>
        <button v-on:click="increment">カウントを増やす</button>

        <p v-if="ok" v-bind:class="classObject">Text</p>
        <p v-bind:style="styleObject">Text</p>

        名前 <input v-model="name">
        <button v-on:click="doAdd">モンスターを追加</button>
        <ul>
            <li v-for="(item, index) in monsters" v-bind:key="item.id"
                v-if="item.hp <= 300"
                v-bind:class="{ tuyoi: item.hp > 300 }">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                <span v-if="item.hp > 300">つよい!!</span>
                <button v-on:click="doRemove(index)">モンスターを削除</button>
            </li>
        </ul>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
        </svg>
        <input type="range" min="0" max="100" v-model="radius">

        <!-- DOMのscrollTopプロバティにバインド -->
        <div v-bind:scroll-top.prop="scroll"></div>
        <!-- 現在のデータ全体をjson形式で描画 -->
        <pre>{{ $data }}</pre>
        <!-- この#appの内側にテンプレートを書き込んでいく -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>