<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js App</title>
    <link href="main.css" rel="stylesheet">
</head>
<body>
    <div id = "app">
        <p>{{ message }}</p>
        <ol>
            <li v-for="item in list">{{ item }}</li>
        </ol>

        <p>{{ count }}回クリックされた</p>
        <button v-on:click="increment">カウントを増やす</button>
        <button v-on:click="count++">クリック</button>

        <!-- <input v-bind:value="message" v-on:input="handleInput"> -->
        <ul>
            <li><input v-model="message"></li>
            <li><textarea v-model="message"></textarea></li>
            <label>
                <input type="checkbox" v-model="val"> {{ val }}
            </label>
        </ul>


        <p v-if="ok" v-bind:class="classObject">Text</p>
        <p v-bind:style="styleObject">Text</p>

        名前 <input v-model="name">
        <button v-on:click="doAdd">モンスターを追加</button>
        <ul>
            <li v-for="(item, index) in monsters" v-bind:key="item.id"
                v-if="item.hp"
                v-bind:class="{ tuyoi: item.hp > 300 }">
                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}
                <span v-if="item.hp <= 50">瀕死!!</span>
                <span v-if="item.hp > 300">つよい!!</span>
                <button v-on:click="doAttack(index)">モンスターを攻撃</button>
                <button v-on:click="doRemove(index)">モンスターを削除</button>
            </li>
        </ul>

        <div>
            <input v-model.number="budget">円以下に絞り込む
            <input v-model.number="limit">件を表示
            <button v-on:click="order!=order">切り替え</button>
            <p>{{ matched.length }}件中{{ limited.length }}件を表示中</p>
            <ul>
                <li v-for="item in limited" v-bind:key="item.id">
                    {{ item.name }} {{ item.hp }}円
                </li>
            </ul>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
        </svg>
        <input type="range" min="0" max="100" v-model="radius">

        <div>
            <label><input type="radio" value="a" v-model="val">A</label>
            <label><input type="radio" value="b" v-model="val">B</label>
            <label><input type="radio" value="c" v-model="val">C</label>
            <p>{{ val }}</p>
        </div>

        <!--
        <div>
            <select v-model="val" multiple>
                <option disabled="disabled">選択してください</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
            </select>
        </div>
        -->

        <img src="img.jpg" v-on:load="show=true" v-bind:class="{hide: !show}" width="30%" height="30%">

        <!-- DOMのscrollTopプロバティにバインド -->
        <div v-bind:scroll-top.prop="scroll"></div>
        <!-- 現在のデータ全体をjson形式で描画 -->
        <pre>{{ $data }}</pre>
        <!-- この#appの内側にテンプレートを書き込んでいく -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="main.js"></script>
</body>
</html>
